<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

	<import resource="environmentContext-sec.xml" />

	<!-- DAOS -->
	<bean id="Dao" class="h.khall.server.dao.jdbc.MySqlDaoImpl">
		<property name="DataSource" ref="Khall" />
	</bean>

	<!-- REPORTS -->

	<bean id="ReportRunner" class="h.service.report.JasperReportRunner">
		<property name="DataSource" ref="Khall" />
	</bean>

	<bean id="S-140" class="h.khall.server.reports.S140_Report" />

	<!-- SERVICES -->

	<bean id="ReportService" class="h.service.report.ReportService">
		<property name="ReportRunner" ref="ReportRunner" />
	</bean>

	<!-- COMMANDS -->

	<bean id="LoggerCommand" class="h.style.g.server.command.LoggerCommandBean" />

	<bean id="SessionInfoCommand" class="h.khall.server.command.SessionInfoCommandBean" />

	<bean id="LoginCommand" class="h.khall.server.command.LoginCommandBean">
		<property name="dao" ref="Dao" />
	</bean>

	<bean id="RegisterCommand" class="h.khall.server.command.RegisterCommandBean">
		<property name="dao" ref="Dao" />
	</bean>

	<bean id="ForgotCommand" class="h.khall.server.command.ForgotCommandBean">
		<property name="dao" ref="Dao" />
	</bean>

	<bean id="PersonLookupCommand" class="h.khall.server.command.PersonLookupCommandBean">
		<property name="dao" ref="Dao" />
	</bean>

	<bean id="AssignLookupCommand" class="h.khall.server.command.AssignLookupCommandBean">
		<property name="dao" ref="Dao" />
	</bean>

	<bean id="AssignmentSaveCommand" class="h.khall.server.command.AssignmentSaveCommandBean">
		<property name="dao" ref="Dao" />
	</bean>
</beans>