<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
              http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0"
	xmlns="http://java.sun.com/xml/ns/javaee">

	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>classpath:applicationContext.xml</param-value>
	</context-param>

	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>

	<session-config>
		<session-timeout>1</session-timeout>
	</session-config>

	<!-- Filters -->

	<!-- Filters Mappings -->

	<!-- Servlets -->
	<servlet>
		<servlet-name>rpcServlet</servlet-name>
		<servlet-class>h.style.g.server.rpc.RpcServiceImpl</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>reportServlet</servlet-name>
		<servlet-class>h.service.http.ServiceServlet</servlet-class>
		<init-param>
			<param-name>serviceName</param-name>
			<param-value>ReportService</param-value>
		</init-param>
	</servlet>

	<!-- mapping -->
	<servlet-mapping>
		<servlet-name>rpcServlet</servlet-name>
		<url-pattern>/khall/rpcservlet</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>reportServlet</servlet-name>
		<url-pattern>/report</url-pattern>
	</servlet-mapping>

	<!-- Default page to serve -->
	<welcome-file-list>
		<welcome-file>khall.html</welcome-file>
	</welcome-file-list>

</web-app>