.logo-name {
	font-size: 120px;
	margin-top: 0px;
}

.strong {
	font-weight: 700;
}

.tt-dropdown-menu {
	max-height: 350px;
	overflow-y: auto;
	width: 250px;
	font-size: smaller;
}

.bootstrap-tagsinput {
	width: 100%;
}

.bootstrap-tagsinput input[class=tt-input] {
	width: 50px;
	border: 0px !important;
}

.kh_scroll {
	overflow-x: hidden !important;
	max-height: 600px;
}

.flip .card {
	min-height: 25px;
	height: 25px;
	border: 0px;
}

.kh_list span[class=badge] {
	float: right;
}

.marginB25 {
	margin-bottom: 25px;
}

.marginR25 {
	margin-right: 25px;
}

.kh_color {
	border-top-color: #2f4050;
	border-right-color: #2f4050;
}

.kh_margin {
	margin-bottom: 110px;
}

.kh_height {
	height: 300px;
}

.kh_boxr {
	font-size: 11px;
	text-align: right;
	padding: 6px 6px;
}

.kh_box {
	font-size: 11px;
	padding: 6px 6px;
}

.kh_check {
	font-size: 11px;
	margin: 0px;
}