.logo-name {
	font-size: 120px;
	margin-top: 0px;
}

.strong {
	font-weight: 700;
}

.tt-dropdown-menu {
	max-height: 350px;
	overflow-y: auto;
	width: 250px;
	font-size: smaller;
}

.bootstrap-tagsinput {
	width: 100%;
}

.bootstrap-tagsinput input[class=tt-input] {
	width: 50px;
	border: 0px !important;
}

.kh_scroll {
	overflow-x: hidden !important;
	max-height: 600px;
}

.flip .card {
	min-height: 25px;
	height: 25px;
	border: 0px;
}